@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 182 21.13% 27.84%;
		--foreground: 182.31 21.31% 76.08%;
		--muted: 132 13% 40%;

		--border: 135 12% 20%;
		--input: 135 12% 20%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	/* Firefox */
	* {
		scrollbar-width: thin;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 15px;
	}

	*::-webkit-scrollbar-track {
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 14px;
	}
}
